<a href="https://colab.research.google.com/github/surendra-crax/120Days-DataScience/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions
A function is a reusable block of code that performs one task.

In [2]:
def greet():
  print("Hello")

greet()
greet()

Hello
Hello

In [3]:
#Functions with parameters
def add(a,b):       # a,b are parameters
  print(a+b)

add(1,2)            # 1,2 are arguments

3

In [4]:
# return keyoword in functions --> return sends back a value from the functions
def square(n):
  return n*n
def add(a,b):
  return a+b

print(square(5))
print(add(5,6))

25
11

In [5]:
#default arguments
def greet(name="user"):
  print("Hello",name)

greet("Surya")

Hello Surya

In [7]:
# *args--> used when you dont know how many arguments youll get
def total(*args):
  print(args)
  return sum(args)

print(total(1,2,3,4,45))

(1, 2, 3, 4, 45)
55

In [8]:
# **kwargs --> used for allowing passing any number of key-value pairs
def user_info(**kwargs):
  for key,value in kwargs.items():
    print(key, "=",value)
user_info(Name ="Surendra",age = 21, city = "Rjy")

Name = Surendra
age = 21
city = Rjy

In [16]:
def student_info(*args,**kwargs):
  #print(args,kwargs)
  #print(kwargs)
  return args,kwargs


student_info("Surendra" , "Maths" , Name = "surya", age="28",classroom = "10")

(('Surendra', 'Maths'), {'Name': 'surya', 'age': '28', 'classroom': '10'})

# Why funcitons matter in data science
You will use functions constantly for:

*   cleaning text
*   transforming datasets
*   loading files
*   feature engineering
*   splitting data
*   modeling pipelines

Without functions, your notebook becomes messy.

In [ ]:
#scope of variables
x =10      #global--->works in whole code

def func():
  x = 5.     #local--->works only within function func()

In [19]:
#lambda function

square = lambda x: x*x
print(square(5))

addition = lambda x,y: x+y
print(addition(1,2))

25
3

# Good Function Writing Rules

**One function = one purpose**

**Use clear names**

**Keep them small**

**Always return a value (unless printing is the purpose)**

**Donâ€™t modify global variables inside**

In [21]:
#sum
def addition(a,b):
  return a+b
addition(1,4)

5

In [22]:
# squaring
def square(a):
  return a*a

square(5)

25

In [23]:
#even checker
def is_even(n):
  return n%2==0

is_even(5)

False

In [25]:
#factorial
def factorial(n):
  if n ==0 or n==1:
    return 1

  result=1

  for i in range(2,n+1):
    result = result*i

  return result

factorial(4)

24

In [27]:
# recursuve version fo rfactorial
def factorial(n):
  if n==0 or n==1:
    return 1

  return n*factorial(n-1)
factorial(5)

120

In [35]:
#reversing string using functions
def rev_str(s):
  result = ""

  for i in range(len(s)-1,-1,-1):
    result= result+s[i]

  print(result)

rev_str("Hello")

olleH

In [40]:
# vowels counter from a sentence
def count_vowels(c):
  vowels = ['a','e','i','o','u']
  count = 0

  for char in c:
    if char.lower() in vowels:
      count = count+1

  return count

sentence = "He is very brave and intelligent "
count_vowels(sentence)

10

In [41]:
# findin glaregst from list
def largest_num(lst):

  largest = lst[0]

  for i in lst:
    if i > largest:
      largest = i

  return largest

lst = [1,5,4,6,88,9,33,4,5,6,887,6,7,6,8,453,234,5,45,65,75,678]
largest_num(lst)

887

In [44]:
#*args multiplier
def multiply_all(*args):
  result = 1
  for i in args:
    result = result*i
  return result

print(multiply_all(1,2,3,4))
print(multiply_all(-1,3,-2))

24
6

In [45]:
# **kwargs --> used for allowing passing any number of key-value pairs
def user_info(**kwargs):
  for key,value in kwargs.items():
    print(key, "=",value)
user_info(Name ="Surendra",age = 21, city = "Rjy")

Name = Surendra
age = 21
city = Rjy

In [49]:
# duplicates removal
def rem_dup(lst):

  uq_lst = []

  for i in lst:
    if i not in uq_lst:
      uq_lst.append(i)

  return uq_lst

lst = [1,3,2,4,5,2,1,5,6,7,8,87,6,4,34]
rem_dup(lst)

[1, 3, 2, 4, 5, 6, 7, 8, 87, 34]

# File Handling

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

**"r" - Read - Default value. Opens a file for reading, error if the file does not exist**

**"a" - Append - Opens a file for appending, creates the file if it does not exist**

**"w" - Write - Opens a file for writing, creates the file if it does not exist**

**"x" - Create - Creates the specified file, returns an error if the file exists**

In [2]:
with open("sample.txt", "w") as f:
  f.write(" Hello! Welcome to demofile.txt \n This file is for testing purposes. \n Good Luck!")

In [3]:
!ls -l

total 8
drwxr-xr-x 1 root root 4096 Nov 20 14:30 sample_data
-rw-r--r-- 1 root root   81 Nov 24 15:53 sample.txt

In [4]:
f = open("sample.txt")
print(f.read())

 Hello! Welcome to demofile.txt
 This file is for testing purposes.
 Good Luck!

In [5]:
#using with keyword
with open("sample.txt") as f:
  print(f.read())

 Hello! Welcome to demofile.txt
 This file is for testing purposes.
 Good Luck!

In [10]:
#closing a file after usage
f = open("sample.txt")
print(f.readlines())    #for reading the first line we use readline() method and for other all readlines() method
f.close()

[' Hello! Welcome to demofile.txt \n', ' This file is for testing purposes. \n', ' Good Luck!']

In [9]:
#read only parts of the file
with open("sample.txt") as f:
  print(f.read(5))

 Hell

In [13]:
# reading conetnt of file using looping
with open("sample.txt") as f:
  for x in f:
    print(x)

 Hello! Welcome to demofile.txt

 This file is for testing purposes.

 Good Luck!

In [18]:
#writing into an existing file
with open("sample.txt","w") as f:     #w mode overwrites existing content
  f.write("This is the new line added using write method")

with open("sample.txt") as f:
  print(f.read())

f.close()

This is the new line added using write method

In [25]:
#creatin new file
f =open("newfile.txt","x")

In [27]:
#deleting files
#import os
#os.remove("newfile.txt")

#checking if file exists then deleting it
import os
if os.path.exists("newfile.txt"):
  os.remove("newfile.txt")
else:
  print("file not found")

file not found

In [28]:
#deleting folde

In [30]:
#import os
#os.rmdir("foldername")

In [31]:
#remove punctuation function
import string

def remove_punctuation(text):
  cleaned = ""
  for char in text:
    if char not in string.punctuation:
      cleaned+= char
  return cleaned

text = "Hello!!! This, is... Data-Science."
print(remove_punctuation(text))

Hello This is DataScience

In [33]:
#counting lines of text file
with open("sample.txt","r") as f:
  lines = f.readlines()

print(len(lines))

1

In [34]:
# writing a list of strings to a file
items = ["apple","banana","cherry","pineapple"]

with open("fruits.txt", "w") as f:
  for item in items:
    f.write(item+"\n")

In [35]:
with open("fruits.txt","r") as f:
  print(f.read())

apple
banana
cherry
pineapple

In [38]:
#clean text function
def clean_text(text):
  #lowercase
  text = text.lower()

  #removing punctuations
  cleaned=""
  for char in text:
    if char not in string.punctuation:
      cleaned +=char

  #removing extra spaces
  cleaned = " ".join(cleaned.split())

  return cleaned

text = "Hello!!!   THIS is   DATA-Science, 2025..."
print(clean_text(text))

hello this is datascience 2025