<a href="https://colab.research.google.com/github/surendra-crax/120Days-DataScience/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world!")

Hello world!

In [6]:
x=9
print(x)
y=10
print(x+y)

9
19

In [11]:
#simple calculator
x = int(input("Enter your first number: "))
y = int(input("Enter your second number: "))

print("Select your operation")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")

entry = input("Enter any number(1/2/3/4):")

if entry == "1":
  print("Result:",x+y)
elif entry == "2":
  print("Result:",x-y)
elif entry == "3":
  print("Result:",x*y)
elif entry == "4":
  print("Result:",x/y)
else:
  print("Invalid operation")

Enter your first number: 8
Enter your second number: 4
Select your operation
1.Addition
2.Subtraction
3.Multiplication
4.Division
Enter any number(1/2/3/4):3
Result: 32

In [17]:
#Temperature convertor

print("Select your conversion")
print("1.Celsius-->Fahrenheit")
print("2.Fahrenheit-->Celsius")

entry = input("Enter your choice(1/2): ")


if entry == "1":
  C = float(input("Enter temperature in celsius: "))
  res = (C * 9/5) + 32
  print("Result:",res,"F")
elif entry == "2":
  F = float(input("Enter temperature in fahrenheit: "))
  res = (F - 32) * 5/9
  print("Result:",res,"C")
else:
  print("Invalid Choice")

Select your conversion
1.Celsius-->Fahrenheit
2.Fahrenheit-->Celsius
Enter your choice(1/2): 2
Enter temperature in fahrenheit: 100
Result: 37.77777777777778 C

In [26]:
#Reverse using indexing
str1 = "Hello"
lol = len(str1) - 1
revStr = ""
for x in range(lol,-1,-1):
  revStr = revStr+str1[x]
print(revStr)

olleH

In [29]:
#Reverse String Using a Backward Loop
str1="Hello"
lol = len(str1)-1
revStr= ""
while lol >= 0:
  revStr= revStr+ str1[lol]
  lol-=1

print(revStr)

olleH

In [30]:
#revese using slicing
str1= "Hello"
revStr = str1[::-1]
print(revStr)

olleH

In [38]:
#eve/odd checker
x = int(input("Enter your number:"))

if x%2==0:
  print("The number you entered is even number")
elif x%2==1:
  print("The number you enered is odd number")

Enter your number:18888888
The number you entered is even number

In [44]:
#Mutliplication table
x = int(input("Enter the table you want: "))

for i in range(1,11):
  res= x * i
  print(x , "*",i,"=",res)

Enter the table you want: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [45]:
#Sum of first N numbers
N = int(input("Enter the number"))
sum = 0
for x in range(1,N+1):
  sum = sum + x

print("Result",sum)

Enter the number10
Result 55