<a href="https://colab.research.google.com/github/surendra-crax/120Days-DataScience/blob/main/Day14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List comprehensions
1️⃣ What is a List Comprehension?

A list comprehension is a shorter and cleaner way to create a list using a loop.

It does exactly the same work as a normal for loop that appends values to a list.

Nothing new logically.
Only syntax changes.

In [2]:
#normal loop
result = []
for i in range(1,6):
  result.append(i*1)

In [3]:
print(result)

[1, 2, 3, 4, 5]

In [4]:
#list comprehension syntax
result1 = [i*1 for i in range(1,6)]
print(result1)

[1, 2, 3, 4, 5]

1. for i in range(1, 6) → loop

2. i * i → value added to the list

So Python:

- loops over numbers

- squares each

- stores result automatically

No append() needed.

In [5]:
#list comprehension wit condition
result3 = [i*1 for i in range(1,11) if i%2==0]
print(result3)

[2, 4, 6, 8, 10]

In [8]:
result4 = ["Even" if i%2 ==0 else "Odd" for i in range(1,6)]
print(result4)

['Odd', 'Even', 'Odd', 'Even', 'Odd']

In [9]:
#Numbers from 1 to 10
num = [i for i in range(1,11)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#cubes of numbers from 1 to 5
num1 = [i**3 for i in range(1,6)]
print(num1)

[1, 8, 27, 64, 125]

In [11]:
#only odd numbers form 1 to 20

num2 = [i for i in range(1,21) if i%2!=0]
print(num2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
#length of each word in sentence
sentence = "Python makes coding simple"
resultt = [len(word) for word in sentence.split()]
print(resultt)

[6, 5, 6, 6]

In [13]:
#convert list of strings to lowercase
words = ["PYTHON","Data","SCIENCE"]
result12 = [word.lower() for word in words]
print(result12)

['python', 'data', 'science']

#Dictionary comprehension
What is it?

A dictionary comprehension creates a dictionary using a loop, in one line.

In [15]:
squares = {i:i*i for i in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [17]:
#filtering dictionary values
data = {"a":10,"b":3,"c":7,"d":15}
filtered = {k: v for k,v in data.items() if v>5}
print(filtered)

{'a': 10, 'c': 7, 'd': 15}

In [20]:
#create a dictionary mapping numbers 1-5 to their cubes
cubes = {i:i**3  for i in range(1,6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [22]:
#filter a dictionary to keep only even values
Items = {"a":2,"b":3,"c":7,"d":10}
even_filters = {k:v for k,v in Items.items() if v %2==0}
print(even_filters)

{'a': 2, 'd': 10}

In [25]:
#create a dictionary mapping words
sentence = "Python makes coding simple"
word_length = {word:len(word) for word in sentence.split()}
print(word_length)

{'Python': 6, 'makes': 5, 'coding': 6, 'simple': 6}

#Set comprehension
What is it?

A set comprehension creates a set (unique values only).

In [18]:
#unique squares
nums = [1,2,2,3,3,3,2,2,3,4,4,5,6,7,5,5]
unique_squares = {i**2 for i in nums}
print(unique_squares)

{1, 4, 36, 9, 16, 49, 25}

In [19]:
#filtering even numbers
nums1 = {1,2,3,4,5,6}
evens = {i for i in nums if i% 2 == 0}
print(evens)

{2, 4, 6}

In [24]:
#create a set of unique vowels from a string
string = "Yaswanth is very innocent and intelligent"
unique_vowels = {i.lower() for i in string if i.lower() in "aeiou"}
print(unique_vowels)

{'i', 'e', 'a', 'o'}

In [26]:
#create a set of numberd divisible by 3 from 1 to 20
div_by_3 = {i for i in range(1,21) if i%3==0}
print(div_by_3)

{3, 6, 9, 12, 15, 18}

#Lambda Function
A lambda is a one-line function without a name.

In [27]:
def square(x):
  return x*x
square(2)

4

In [31]:
square=lambda x:x*x
square(5)

25

In [32]:
#lambda with map()
nums = [1,2,3,4]
result = list(map(lambda x : x*x,nums))
print(result)

[1, 4, 9, 16]

In [33]:
#lambda with filter()
nums = [1,2,3,4,5,6]
even = list(filter(lambda x:x%2==0,nums))
print(evens)

{2, 4, 6}

In [34]:
#use lambda to find square of a number
square = lambda x:x*x
square(5)

25

In [35]:
#use map() to convert list of strings to uppercase
words = ["Yashwanth","Kishore","Rajesh"]
str_uppercase = list(map(lambda x:x.upper(),words))
print(str_uppercase)

['YASHWANTH', 'KISHORE', 'RAJESH']

In [36]:
#use filter() to keep numbers greater than 10
nums = [12,4,5,333,4,5,4,33,3,44,55,5]
greater_10 = list(filter(lambda x:x>10,nums))
print(greater_10)

[12, 333, 33, 44, 55]

In [39]:
#use lambda to check if number is even

evens = lambda x:x%2==0
print(evens(2))

True

In [40]:
#use map() to add 5 to every number in a list
nums =[1,2,3,4,5,6]
added = list(map(lambda x : x+5,nums))
print(added)

[6, 7, 8, 9, 10, 11]

#sorted() with CUSTOM key FUNCTION

In [41]:
nums =[1,4,2,3,6,7,4,5]
print(sorted(nums))

[1, 2, 3, 4, 4, 5, 6, 7]

In [42]:
#sorting list of tuples
data =[(1,3),(4,1),(2,5)]
result = sorted(data,key=lambda x:x[1])
print(result)

[(4, 1), (1, 3), (2, 5)]

In [43]:
#sorting in descending order
result = sorted(data,key=lambda x:x[1],reverse=True)
print(result)

[(2, 5), (1, 3), (4, 1)]

In [44]:
#sort list of dictionaries
students =[
    {"name":"A","marks":85},
    {"name":"B","marks":72},
    {"name":"C","marks":90}
]
result = sorted(students,key=lambda x:x["marks"])
print(result)

[{'name': 'B', 'marks': 72}, {'name': 'A', 'marks': 85}, {'name': 'C', 'marks': 90}]

In [45]:
result = sorted(students,key=lambda x:x["marks"],reverse=True)
print(result)

[{'name': 'C', 'marks': 90}, {'name': 'A', 'marks': 85}, {'name': 'B', 'marks': 72}]

In [46]:
#sorting strings by length
words = ["python","ai","machine","data"]
result = sorted(words,key=lambda x:len(x))
print(result)

['ai', 'data', 'python', 'machine']

In [47]:
#sort list of tuples by second value
data1 = [(1,8),(8,5),(4,6)]
result = sorted(data1,key=lambda x :x[1])
print(result)

[(8, 5), (4, 6), (1, 8)]

In [48]:
#sort list of dictionaries by a numeric field
students =[
    {"name":"A","salary":50000},
    {"name":"B","salary":70000},
    {"name":"C","salary":30000}
]

result = sorted(students,key=lambda x:x["salary"])
print(result)

[{'name': 'C', 'salary': 30000}, {'name': 'A', 'salary': 50000}, {'name': 'B', 'salary': 70000}]

In [49]:
#sort words by length
words = ["python","ai","machine","data"]

sorted_words = sorted(words,key=lambda x:len(x))
print(sorted_words)

['ai', 'data', 'python', 'machine']

In [50]:
#sort number by absolute value
nums = [-10,3,-2,7,-5]

sorted_nums = sorted(nums,key=lambda x:abs(x))
print(sorted_nums)

[-2, 3, -5, 7, -10]

In [51]:
#sort students by marks in descending order
students =[
    {"name":"A","marks":85},
    {"name":"B","marks":72},
    {"name":"C","marks":90}
]
result = sorted(students,key=lambda x:x["marks"],reverse=True)
print(result)

[{'name': 'C', 'marks': 90}, {'name': 'A', 'marks': 85}, {'name': 'B', 'marks': 72}]