<a href="https://colab.research.google.com/github/surendra-crax/120Days-DataScience/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF-ELSE EXAMPLES

In [3]:
#Find the largest of two numbers
x = int(input("Enter first number"))
y = int(input("Enter second number"))

if x>y:
  print("First number is largest")
elif y>x:
  print("Second number is largest")
else:
  print("Both are equal")

Enter first number5
Enter second number5
Both are equal

In [8]:
#Check if a number is positive, negative, or zero
x = int(input("Enter number:"))

if x>0:
  print("Number is postivie")
elif x<0:
  print("Number is negative")
else:
  print("Number is zero")

Enter number:-5
Number is negative

In [16]:
#Check if a number is divisible by 5 and 11
x = int(input("Enter the number to check:"))

if x%5==0 and x%11==0:
  print("The number is divisible by both 5 and 11")
else:
  print("Not divisible by 5 and 11")

Enter the number to check:45
Not divisible by 5 and 11

In [25]:
#Check if a character is a vowel or consonant
x = "aeiou"
char = input("Enter the character:")
char=char.lower()
if char in x:
  print("Vowel")
else:
  print("constant")

Enter the character:z
constant

In [31]:
#Check if a person is eligible to vote
x = int(input("Enter your age:"))
if x >=18:
  print("Eligible to vote")
else:
  print("Ineligible to vote")

Enter your age:18
Eligible to vote

In [32]:
#Check if a student passed or failed (marks > 40)
x = int(input("Enter yoour marks:"))
if x >40:
  print("Student is passed")
else:
  print("Student is failed")

Enter yoour marks:35
Student is failed

In [35]:
#Check if a password matches a stored password
#pwd="ssssmmmm12S#"

#x = input("Enter the password:")

if x == pwd:
  print("Access Granted")
else:
  print("Access Denied")

Enter the password:ssssmmmm12S#
Access Granted

In [45]:
#Check if a year is a leap year
year = int(input("Enter year to check: "))

if year % 4 ==0 and year%100!=0:
  print("Its a leap year")
else:
  print("Not a leap year")

Enter year to check: 2020
Its a leap year

In [50]:
#Check if a triangle is valid based on side lengths
a =int(input("Enter one side of traingle: "))
b = int(input("Enter second side of triangle: "))
c = int(input("Enter third side of triangle: "))

if a+b>c and b+c>a and c+a>b:
  print("Valid Triangle")
else:
  print("Invalid")

Enter one side of traingle: 1
Enter second side of triangle: 0
Enter third side of triangle: 1
Invalid

# For-Loop Examples

In [52]:
#Print the first 10 natural numbers
for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [55]:
#Print even numbers between 1 and 50
for x in range(1,50):
  if(x%2==0):
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [56]:
#Print each character of a string one by one
str1 = "hello"
for x in str1:
  print(x)

h
e
l
l
o

# While loop examples

In [58]:
#Print numbers from 1 to 10 using a while loop
i=1
while i<11:
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9
10

In [59]:
#Reverse a number using while loop (e.g., 123 → 321)
x = int(input("Enter the number to reverse"))
rev = 0
while x>0:
  digit = x%10
  rev = (rev * 10)+digit
  x = x//10

print(rev)

Enter the number to reverse123
321

In [61]:
#Write a program that repeatedly asks the user for input until they type “exit

while True:
   x = input("Enter something: ")
   if x=="exit":
    break
print("Program ended")

Enter something: exit
Program ended

# Coding problems

In [4]:
#FIZZBUZZ
x = int(input("Enter the number you wanted: "))
if x%3==0 and x%5==0:
  print("FizzBuzz")
elif x%3==0:
  print("Fizz")
elif x%5==0:
  print("Buzz")
else:
  print(i)

Enter the number you wanted: 15
FizzBuzz

In [4]:
#prime number checker
x = int(input("Enter the number:"))
if x <=1:
  print("Not a prime")
else:
  for i in range(2,x-1):
    if x%i==0:
      print("Not a prime")
      break
  else:
      print("Prime")

Enter the number:4
Not a prime

In [6]:
#prime number checking using optimized square root method
x = int(input("Enter the number:"))
y = int(x**0.5)+1
if x <=1:
  print("Not a prime")
else:
  for i in range(2,y):
    if x%i==0:
      print("Not a prime")
      break
  else:
      print("Prime")

Enter the number:10
Not a prime

In [10]:
#prime number checking using optimized square root method using math import
import math as m
x = int(input("Enter the number:"))
y = int(m.sqrt(x))
if x <=1:
  print("Not a prime")
else:
  for i in range(2,y+1):
    if x%i==0:
      print("Not a prime")
      break
  else:
      print("Prime")

Enter the number:3
Prime

In [12]:
#factorial of number
x = int(input("Enter a number :"))
result=1
if x==0:
  print("Factorial of this number is 1")
elif x==1:
  print("Factorial of number is 1")
else:
  for i in range(1,x+1):
    result=result*i
  print("Factorial of a number is :",result)

Enter a number :5
Factorial of a number is : 120

In [13]:
#fibonacci series
x = int(input("Enter the how many temrs you want :"))
first = 0
second = 1
print(first,second,end=" ")
for i in range(2,x):
  nxt = first+second
  print(nxt,end=" ")
  first=second
  second=nxt

Enter the how many temrs you want :10
0 1 1 2 3 5 8 13 21 34

In [15]:
#printing square stars
x = int(input("Enter the number of rows: "))

for row in range(1,x+1):
  for col in range(1,x+1):
    print("*",end=" ")
  print()

Enter the number of rows: 4
* * * *
* * * *
* * * *
* * * *

In [16]:
#printing right angled traingle
x = int(input("Enter the number of rows: "))

for row in range(1,x+1):
  for col in range(1,row+1):
    print("*",end=" ")
  print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [18]:
#inverted right angled triangle
x = int(input("Enter the number of rows: "))

for row in range(1,x+1):
  for col in range(1,x-row+2):
    print("*",end=" ")
  print()

Enter the number of rows: 5
*****
****
***
**
*

In [20]:
#pyramid printing
x = int(input("Enter the number of rows : "))

for row in range(1,x+1):
  #printing spaces
  for space in range(1,x-row+1):
    print(" ",end="")

  #printing stars
  for star in range(1,2*row):
    print("*",end="")

  print()

Enter the number of rows : 5
    *
   ***
  *****
 *******
*********

In [22]:
#inverted pyramid
x = int(input("Enter the number of rows : "))

for row in range(1,x+1):
  #printing spaces
  for space in range(row-1):
    print(" ",end="")

  #printing stars
  for star in range(2*(x-row+1)-1):
    print("*",end="")

  print()

Enter the number of rows : 5
*********
 *******
  *****
   ***
    *

In [23]:
#Number Triangle
x = int(input("Enter the number of rows : "))

for row in range(1,x+1):
  for num in range(1,row+1):
    print(num, end=" ")
  print()

Enter the number of rows : 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
#number pyramid
x=int(input("Enter the number of rows: "))

for row in range(1,x+1):
  #printing spaces
  for spaces in range(x-row):
    print(" ",end="")

  #printing numbers
  for num in range(1,2*row):
    print(num,end="")

  print()

Enter the number of rows: 5
    1
   123
  12345
 1234567
123456789

In [28]:
#inverted printing
x=int(input("Enter the number of rows: "))

for row in range(1,x+1):
  #printing spaces
  for spaces in range(row-1):
    print(" ",end="")

  #printing numbers
  for num in range(1,2*(x-row+1)-1):
    print(num,end="")

  print()

Enter the number of rows: 6
12345678910
 12345678
  123456
   1234
    12

In [30]:
#diamond printing
x = int(input("Enter number of rows :"))

for row in range(1,x+1):
  for spaces in range(x-row):
    print(" ",end="")

  for stars in range(1,2*row):
    print("*",end="")
  print()

for row in range(x-1,0,-1):
  for spaces in range(x-row):
    print(" ",end="")
  for stars in range(2*row-1):
    print("*", end="")
  print()

Enter number of rows :5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *