<a href="https://colab.research.google.com/github/surendra-crax/120Days-DataScience/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#list
List = [1,2,3,4,5,6,7,8,9,10]
print(List)
List.append(11) #appending value :wiol be added at last
print(List)
List.insert(2,12) #inserting element using index number and value
print(List)
List.pop() #remove element at lasrt of list
print(List)
List.remove(4) #remove first occurance of element in list by value
print(List)
List.reverse() #reversing the list using method
print(List[::-1])  #reversing using slicing
print(List)
List.sort()        #sorting in asceding
print(List)
print(List[:3])    #slicing first three elements
print(List[-3:])   #slicing last three elements
print(List[3:7])   #slicing middle elements
List.sort(reverse=True) #sorting in ascending order
print(List)
List.append(5)
print(List)
count1 = List.count(5)
print(count1)  #counting the occurances of 5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 12, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 12, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 12, 3, 5, 6, 7, 8, 9, 10]
[1, 2, 12, 3, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 3, 12, 2, 1]
[1, 2, 3, 5, 6, 7, 8, 9, 10, 12]
[1, 2, 3]
[9, 10, 12]
[5, 6, 7, 8]
[12, 10, 9, 8, 7, 6, 5, 3, 2, 1]
[12, 10, 9, 8, 7, 6, 5, 3, 2, 1, 5]
2

In [12]:
list1 = [1,"apple", 20.0 , True]
print(list1)

[1, 'apple', 20.0, True]

In [15]:
#Tuples
t = (1,2,3,4,5,6,7,8)
print(t)
print(t[0])
print(t[1])
print(t[len(t)//2])
#to make modifications in tuple we have to change it to list and apply operations
temp = list(t)
temp.append(10)
t = tuple(temp)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)
1
2
5
(1, 2, 3, 4, 5, 6, 7, 8, 10)

In [16]:
#tuple unpacking
a,b,c,d,e = (1,2,3,4,5)
print(a,b,c,d,e)

1

In [17]:
#Nested tuple
nested = (1,2,(3,4,5),6)
print(nested[2][1])

4

In [18]:
#tuple inside a list
list3 = [1,2,(3,4,5,6,7,8),9,10]
print(list3[2][2])

5

In [19]:
#count & index methods
tp = (1,2,2,3,2,4)
print(tp.count(2))
print(tp.count(3))

3
1

In [22]:
#sets and its operations
s = {1,2,2,3,3,4,4,5,5}
print(s)
s.add(6)    #add element at end
s.add(3)    #duplicate will be ignored
print(s)
s.remove(3)    #remove elements by value
print(s)
s.discard(15)  #safe removal no errors if not found
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}

In [25]:
#set union
a = {1,2,3}
b = {4,5,6}
print(a.union(b))

{1, 2, 3, 4, 5, 6}
set()

In [29]:
#set intersection & difference
a = {1,2,3}
b = {3,4,5}
print(a.intersection(b))
print(a&b)
print(a.difference(b))
print(a-b)

{3}
{3}
{1, 2}
{1, 2}

In [30]:
#empty set
empty = set()

In [31]:
#dictionary

student={
    "name":"surendra",
    "age":23,
    "city":"Rajahmundry",
    "skills":["Python" , "Java"],
    "score" : 98
}
print(student)

{'name': 'surendra', 'age': 23, 'city': 'Rajahmundry', 'skills': ['Python', 'Java'], 'score': 98}

In [32]:
# access values
print(student["name"])
print(student["skills"])

surendra
['Python', 'Java']

In [33]:
# add a new key
student["Email"] = "surendra1238989@gmail.com"
print(student)

{'name': 'surendra', 'age': 23, 'city': 'Rajahmundry', 'skills': ['Python', 'Java'], 'score': 98, 'Email': 'surendra1238989@gmail.com'}

In [34]:
#update a value
student["age"]=25
print(student["age"])

25

In [38]:
#remove a key
student.pop("Email")

KeyError: 'Email'

In [41]:
#looping thorugh dictionary
for x in student:
  print(x)
for v in student.values():
  print(v)

name
age
city
skills
score
surendra
25
Rajahmundry
['Python', 'Java']
98

In [44]:
#key and valuse
for x,y in student.items():
  print(x, "=", y)

name = surendra
age = 25
city = Rajahmundry
skills = ['Python', 'Java']
score = 98

In [45]:
#checking if a key exists
print("skills" in student)

True

In [46]:
#nested dictionaries
college = {
    "student1" :{"name": "A", "marks":85},
    "student2": {"name": "B", "marks":98}
}
print(college["student2"]["marks"])

98

In [48]:
#merge two dictionaries
d1 ={"a":1, "b":2}
d2 = {"c":3,"d":4}

merged = d1.copy()
merged.update(d2)
print(merged)

#short cut
merged1 = {**d1, **d2}
print(merged1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [49]:
#word freqeuncy counter
text = "hello world hello python world"
words=text.split()

freq = {}

for w in words:
  if w in freq:
    freq[w]+=1
  else:
    freq[w]=1
print(freq)

{'hello': 2, 'world': 2, 'python': 1}