<a href="https://colab.research.google.com/github/surendra-crax/120Days-DataScience/blob/main/MINI_PROJECT_%E2%80%94_Student_Performance_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROBLEM STATEMENT

You are given student data in the form of a list of dictionaries.

Each student has:

- name

- marks

Your task is to analyze this data using Python intermediate features.

In [1]:
students = [
    {"name": "Ravi", "marks": 85},
    {"name": "Anu", "marks": 72},
    {"name": "Kiran", "marks": 90},
    {"name": "Sita", "marks": 60},
    {"name": "Arjun", "marks": 45}
]

In [2]:
#extracting all marks
marks = [s["marks"] for s in students]
print(marks)

[85, 72, 90, 60, 45]

In [3]:
#filter passed students marks>=50
passed_students = list(filter(lambda s: s["marks"] >= 50, students))
print(passed_students)

[{'name': 'Ravi', 'marks': 85}, {'name': 'Anu', 'marks': 72}, {'name': 'Kiran', 'marks': 90}, {'name': 'Sita', 'marks': 60}]

In [5]:
#adding grade to each student >=80(A),>=60(B) else(C)

graded_students= [
    {
        "name":s["name"],
        "marks":s["marks"],
        "grade":"A" if s["marks"] >=80 else "B" if s["marks"] >=60 else "C"
    }
    for s in students
]
print(graded_students)

[{'name': 'Ravi', 'marks': 85, 'grade': 'A'}, {'name': 'Anu', 'marks': 72, 'grade': 'B'}, {'name': 'Kiran', 'marks': 90, 'grade': 'A'}, {'name': 'Sita', 'marks': 60, 'grade': 'B'}, {'name': 'Arjun', 'marks': 45, 'grade': 'C'}]

In [7]:
#sort students by marks
ranked_students = sorted(students, key=lambda s: s["marks"], reverse=True)
print(ranked_students)

[{'name': 'Kiran', 'marks': 90}, {'name': 'Ravi', 'marks': 85}, {'name': 'Anu', 'marks': 72}, {'name': 'Sita', 'marks': 60}, {'name': 'Arjun', 'marks': 45}]

In [8]:
#create name:marks diectory
student_dict = {s["name"]:s["marks"] for s in students}
print(student_dict)

{'Ravi': 85, 'Anu': 72, 'Kiran': 90, 'Sita': 60, 'Arjun': 45}

In [11]:
#gettings topper name
topper = max(students,key=lambda s:s["marks"])
print(topper)

{'name': 'Kiran', 'marks': 90}